@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Seletor descendente */
footer p {
  font-family: Cambria, serif;
}

/* Seletor classe */
.outro-texto {
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

h2,
h3 {
  margin: 0.5rem 0;
}
